django-extensions==2.1.0
Django==2.0
requests[security]==2.18.4
django-storages==1.7.1
django-crispy-forms==1.7.2
gunicorn==19.6.0
boto3==1.9.91
django-compressor==2.1.1
mailchimp3==3.0.6
pylint==2.2.2
pylint-django==2.0.5
pylint-quotes==0.2.0
mypy==0.660
mysqlclient==1.4.1
social-auth-app-django==3.1.0
django-crispy-forms==1.7.2
django-jet==1.0.8
django-user-accounts==2.1.0
django-mysql==2.4.1
pinax-stripe==4.4.0
kubernetes==8.0.1
rq==0.13.0
